img {
	height: 100%;
}

th, td {
	height : 250px;
	text-align : center;
	padding : 10px
}

table {
	width : 90%;
	margin : 0 auto;
}

h1 {
	text-align: center;
}
body {
	background-color: bisque;
	width:100%
}

.navbar{
	background-color: darkgoldenrod;
}

table {
	width: 100%
}